#gamepad {
  display: flex;
  width: 30%;
  height: 30%;
  border: 2px solid blue;
  position: absolute;
  flex-direction: column;
  pointer-events: auto;
  touch-action: auto;
}

#gamepad > * {
  width: 100%;
  height: 100%;
  pointer-events: auto;
  touch-action: auto;
}

#gamepad button {
  margin: auto;
  border: 2px outset silver;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  pointer-events: auto;
  touch-action: auto;
}

#gamepad button:active {
  border: 2px inset silver;
}