#c {
  position: absolute;
  background-color: black;
  touch-action: none;
  width: var(--w);
  height: var(--h);
}

#ui {
  display: block;
  touch-action: none;
  position: absolute;
  color: white;
  width: var(--w);
  height: var(--h);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#ui > * {
  width: var(--w);
  height: var(--h);
}

#ui .down:active {
  filter: invert(30%);
  color: white;
}

#ui .slider {
  overflow: hidden;
  border: 8px inset gray;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(45deg, silver, gray);
  width: 15px;
  height: 15px;
}

#ui .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: linear-gradient(45deg, silver, gray);
  border-radius: 15px;
  cursor: pointer;
  border: 1px solid white;
  box-shadow: -2015px 0 0 2000px #00fd0a;
}

#ui .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: linear-gradient(180deg, silver, gray);
  border: 1px solid white;
  cursor: pointer;
  box-shadow: -2015px 0 0 2000px #00fd0a;
}

#ui #settings .left {font-size: 0.75em}

#ui #settings .right {
  width: 65%;
  height: 100%;
  padding: 20px;
}

#ui #settings .left {margin: auto}

#ui #settings button {
  border: 2px outset silver;
  background-color: white;
  color: black;
}

#ui .every-full * {
  width: 100%;
  height: 100%;
}